.card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;
  margin: 0 auto;}

.mainImage{
  margin: 0 60px;
}

.name{
  margin: 0 auto;
}

.info{
  margin: 0 60px 12px 60px;
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
}

ul.info>li{
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul.info>li>span:last-child{
  margin: auto auto 0 auto;
}