:root{
 --background-element: #1C1C21; /* @ya component overwritten*/
}

.price{
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.price>*{
  margin-right: 28px;
}
