.modal{
  background-color: #1C1C21;
  margin: auto;
  width: 660px;
  height: 505px;
  max-width: 90%;
  max-height: 90%;
  position: relative;
  border-radius: 40px;
}
.close{
  position: absolute;
  top: 60px;
  right: 40px;
  cursor: pointer;
}