.wrapper{
    display: flex;
    min-height: 80vh;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
}
.menu{
    flex-basis: 33%;
    margin: auto;
    /*flex-grow: 1;*/
    /*width: 33%;*/
    /*height: 100px;*/
}
.form{
    flex-basis: 67%;
    margin: auto;
    /*flex-grow: 2;*/
    /*width: 33%;*/
    /*height: 100px;*/
}
.form div {
    width: 100%;
    flex: 0 10 100%;
    margin: 12px auto;
}