.App {
  text-align: center;
  justify-content: center;
  font-family: 'Jet Brains Mono', Arial, sans-serif;
}

main{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.column{
  flex: 1;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  overflow: auto;
  overflow-x: hidden; /*BUG!!*/
}

.container::-webkit-scrollbar {
	width: 12px;
}

.container::-webkit-scrollbar-track {
	background: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}