.App {
  text-align: center;
  justify-content: center;
  font-family: 'Jet Brains Mono', Arial, sans-serif;
}

main{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.column{
  flex: 1;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  overflow: auto;
  overflow-x: hidden; /*BUG!!*/
}

.container::-webkit-scrollbar {
	width: 12px;
}

.container::-webkit-scrollbar-track {
	background: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.constructor-element__text{
  /* cards with small text BUG fix */
  /* original bug is provided via @ya ui library*/
  flex-grow: 1;
}
.message{
  padding: 200px;
  margin: auto;
}

.modal-overlay{
  /*display: none; !* Hidden by default *!*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  display: flex;
}