.card{
  flex: auto;
  background-color: hotpink;
  min-width: 250px;
  /*max-width: 50%;*/
  max-width: calc(50% - 40px);
  margin: 16px;
}
.mainImage{
  max-width: calc(100% - 32px);
  margin: 0 16px;
}
.price{
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}
.price>span{
  padding-right: 10px;
  font-size: 20px;
}