.card{
  flex: auto;
  min-width: 250px;
  max-width: calc(50% - 12px);
  margin: 0 auto;
  position: relative;
  list-style-type: none;
}

.mainImage{
  max-width: calc(100% - 32px);
}

.price{
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.name{
  margin: 0;
}