.App {
  text-align: center;
  font-family: 'Jet Brains Mono', Arial, sans-serif;
}
main{
  max-height: 978px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container{
  background-color: green;
  flex: 1;
}